{% extends 'base.html' %}

{% block content %}
<!-- Main -->
<div id="main">
	<div class="inner">

		<!-- Header -->
			<header id="header">
				<a href="{% url 'home' %}" class="logo"><strong>Vehicles</strong> of YOLO EXPEDITION</a>
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
				</ul>
			</header>

		<!-- Content -->
			<section>
				<header class="main">
					<h2>2021 BRONCO BADLANDS</h>
					<h3> aka BOONG-BOONG</h3>
				</header>

				<span class="image main"><img src="static/images/pic01_bronco.jpg" alt="" /></span>

				<p>The **2021 Ford Bronco Badlands** is an off-road-focused SUV designed for serious adventure enthusiasts. Equipped with a rugged 4x4 system, Bilstein shock absorbers, front and rear locking differentials, and a sway bar disconnect for maximum articulation, the Badlands trim offers outstanding capability on rough terrains. It features a powerful turbocharged engine, removable doors and roof, and a durable interior with marine-grade vinyl seating and rubberized flooring, making it ideal for both rugged expeditions and everyday driving. The Badlands trim also includes the GOAT (Goes Over Any Terrain) modes for optimal traction across different surfaces.</p>
				<hr class="major" />

				<h4>DETAIL BUILD LIST</h4>
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>Descriptions</th>
								<th>Specifications</th>
								<th>Costs</th>
								<th class="icon solid fa-truck"><a href="#"></a></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Engine</td>
								<td>2.7-liter EcoBoost</td>
								<td></td>
								<td class="icon solid fa-shopping-cart"><a href="#"></a></td>
							</tr>
							<tr>
								<td>Tires</td>
								<td>Bridgestone KO2 275/70/R17</td>
								<td>1500.00</td>
								<td class="icon solid fa-shopping-cart"><a href="#"></a></td>
							</tr>
							<tr>
								<td>Front & Rear Bumpers</td>
								<td>Smittybilt Metal Bumpers</td>
								<td>2229.99</td>
								<td class="icon solid fa-shopping-cart"><a href="#"></a></td>
							</tr>
							<tr>
								<td>Winch</td>
								<td>Smittybilt 12000 lbs</td>
								<td>799.99</td>
								<td class="icon solid fa-shopping-cart"><a href="#"></a></td>
							</tr>
							<tr>
								<td>Item5</td>
								<td>Ante turpis integer aliquet porttitor.</td>
								<td>29.99</td>
								<td class="icon solid fa-shopping-cart"><a href="#"></a></td>
							</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>

			</section>

	</div>
</div>
{% endblock %}