{% extends 'base.html' %}

{% block content %}
<!-- Wrapper -->

<!-- Main -->
<div id="main">
	<div class="inner">

		<!-- Header -->
			<header id="header">
				<a href="{% url 'home' %}" class="logo"><strong>RIGS</strong> of YOLO EXPEDITION</a>
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
				</ul>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h2>Welcome to YOLO Expedition<br /></h2>
						<p>Where Every Adventure Counts!</p>
					</header>
					<p>At YOLO Expedition, we believe life is meant to be lived boldly, explored fully, and cherished deeply. Whether you’re chasing the thrill of mountain summits, camping under starry skies, or discovering hidden gems off the beaten path, our expertly curated experiences are designed for those who want to embrace the adventure of a lifetime.</p>
					<p>Join us as we explore breathtaking landscapes, connect with nature, and create unforgettable memories. With YOLO Expedition, it’s not just about the destination – it’s about the journey, the moments that take your breath away, and the stories you’ll tell forever.</p>
					<h5>You only live once – make it extraordinary with YOLO Expedition!</h5>
					<ul class="actions">
						<li><a href="#" class="button big">Learn More</a></li>
					</ul>
				</div>
				<span class="image object">
					<img src="static/images/Bronco.gif" alt="" />
				</span>
			</section>

		<!-- Section -->
			<section>
				<header class="major">
					<h2>Adventures</h2>
				</header>
				<div class="features">
					<article>
						<span class="icon solid fa-cog fa-spin"></span>
						<div class="content">
							<h3>Rock Crawling</h3>
							<p>Drivers navigate vehicles over rugged, rocky terrain, often scaling steep inclines, large boulders, and uneven surfaces. It's the ultimate test of a vehicle’s capabilities and the driver’s technical expertise, offering a thrilling adventure for off-road enthusiasts.</p>
						</div>
					</article>
					<article>
						<span class="icon solid fa-tree"></span>
						<div class="content">
							<h3>Camping/BLM</h3>
							<p>BLM dispersed camping offers a unique and adventurous outdoor experience on vast, publicly owned lands across the United States. With millions of acres available, camping on BLM land is perfect for those seeking a rustic, off-the-grid experience.</p>
						</div>
					</article>
					<article>
						<span class="icon solid fa-road"></span>
						<div class="content">
							<h3>Overlanding</h3>
							<p>A self-reliant, off-road adventure that combines travel and camping, typically in remote areas, with a focus on the journey rather than the destination. It involves exploring rugged terrains using specially equipped vehicles, offering the freedom to travel long distances and immerse in nature while being entirely self-sufficient.</p>
						</div>
					</article>
					<article>
						<span class="icon solid fa-truck"></span>
						<div class="content">
							<h3>Expedition</h3>
							<p>A carefully planned journey or adventure, often to remote or challenging environments, with a specific purpose such as exploration, research, or discovery. It typically involves teamwork, specialized equipment, and a spirit of adventure, pushing the boundaries of both physical and mental endurance.</p>
						</div>
					</article>
				</div>
			</section>

		<!-- Section -->
			<section>
				<header class="major">
					<h2>Vehicles</h2>
				</header>
				<div class="posts">
					<article>
						<a href="#" class="image"><img src="static/images/pic01_bronco.jpg" alt="" /></a>
						<h3>2021 BRONCO BADLANDS</h3>
						<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
						<ul class="actions">
							<li><a href="{% url 'generic' %}" class="button">More</a></li>
						</ul>
					</article>
					<article>
						<a href="#" class="image"><img src="static/images/pic02_denali.jpg" alt="" /></a>
						<h3>2021 GMC DENALI 2500</h3>
						<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
						<ul class="actions">
							<li><a href="{% url 'generic' %}" class="button">More</a></li>
						</ul>
					</article>
					<article>
						<a href="#" class="image"><img src="static/images/pic03_gx470.jpg" alt="" /></a>
						<h3>2003 LEXUS GX470</h3>
						<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
						<ul class="actions">
							<li><a href="{% url 'generic' %}" class="button">More</a></li>
						</ul>
					</article>
					<article>
						<a href="#" class="image"><img src="static/images/pic04_4xe.jpg" alt="" /></a>
						<h3>2021 JEEP RUBICON</h3>
						<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
						<ul class="actions">
							<li><a href="{% url 'generic' %}" class="button">More</a></li>
						</ul>
					</article>
					<article>
						<a href="#" class="image"><img src="static/images/pic05_gx460.jpg" alt="" /></a>
						<h3>2015 JEEP JK</h3>
						<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
						<ul class="actions">
							<li><a href="{% url 'generic' %}" class="button">More</a></li>
						</ul>
					</article>
					<article>
						<a href="#" class="image"><img src="static/images/pic06_jeep.jpg" alt="" /></a>
						<h3>2022 LEXUS GX460</h3>
						<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
						<ul class="actions">
							<li><a href="{% url 'generic' %}" class="button">More</a></li>
						</ul>
					</article>
				</div>
			</section>
			
	</div>
</div>
{% endblock %}