
{% block content %}

<!-- Sidebar -->
<div id="sidebar">
       <div class="inner">
        <!-- Search -->
            <!--
            <section id="search" class="alt">
                <form method="post" action="#">
                    <input type="text" name="query" id="query" placeholder="Search" />
                </form>
            </section>
            -->

        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="{% url 'home' %}">Homepage</a></li>
                    <li>
                        <span class="opener">Adventures</span>
                        <ul>
                            <li><a href="#" class="icon solid fa-truck-monster"> Rock Crawling</a></li>
                            <li><a href="#" class="icon solid fa-tree"> Camping/BLM</a></li>
                            <li><a href="#" class="icon solid fa-truck-pickup"> Overlanding</a></li>
                            <li><a href="#" class="icon solid fa-truck"> Expedition</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'generic' %}">Generic</a></li>
                    <li><a href="{% url 'elements' %}">Elements</a></li>										<li>
                        <span class="opener">Vehicle Builds</span>
                        <ul>
                            <li><a href="#" class="icon solid fa-car-side"> SUV</a></li>
                            <li><a href="#" class="icon solid fa-truck-monster"> JEEP</a></li>
                            <li><a href="#" class="icon solid fa-truck-pickup"> TRUCK</a></li>
                            <li><a href="#" class="icon solid fa-trailer"> OFFROAD TRAILERS</a></li>
                            <li><a href="#" class="icon solid fa-motorcycle"> MOTORSPORTS</a></li>
                        </ul>
                    </li>
                    <li><a href="#">GEARS</a></li>
                </ul>
            </nav>

        <!-- Section -->
            <section>
                <header class="major">
                    <h2>Latest Adventure</h2>
                </header>
                <div class="mini-posts">
                    <article>
                        <a href="#" class="image"><img src="static/images/pic07.jpg" alt="" /></a>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="static/images/pic08.jpg" alt="" /></a>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="static/images/pic09.jpg" alt="" /></a>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                    </article>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </section>

        <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
                <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="#">kyle@yoloexp.com</a></li>
                    <li class="icon solid fa-phone">(213) 603-1153</li>
                    <li class="icon solid fa-home">4838 Elmwood Ave<br />
                    Los Angeles, CA 90004-0000</li>
                </ul>
            </section>

        <!-- Footer -->
            <footer id="footer">
                <p class="copyright">2025 YOLOEXP&copy;. All rights reserved.</p>
            </footer>

    </div>
</div>

{% endblock %}