Git.Repo/README.md
DjangoProject/db.sqlite3
DjangoProject/manage.py
DjangoProject/home/__init__.py
DjangoProject/home/admin.py
DjangoProject/home/apps.py
DjangoProject/home/models.py
DjangoProject/home/tests.py
DjangoProject/home/urls.py
DjangoProject/home/views.py
DjangoProject/home/__pycache__/__init__.cpython-313.pyc
DjangoProject/home/__pycache__/admin.cpython-313.pyc
DjangoProject/home/__pycache__/apps.cpython-313.pyc
DjangoProject/home/__pycache__/models.cpython-313.pyc
DjangoProject/home/__pycache__/urls.cpython-313.pyc
DjangoProject/home/__pycache__/views.cpython-313.pyc
DjangoProject/home/migrations/__init__.py
DjangoProject/home/migrations/__pycache__/__init__.cpython-313.pyc
DjangoProject/home/templates/home.html
DjangoProject/kcrm/__init__.py
DjangoProject/kcrm/asgi.py
DjangoProject/kcrm/settings.py
DjangoProject/kcrm/urls.py
DjangoProject/kcrm/wsgi.py
DjangoProject/kcrm/__pycache__/__init__.cpython-313.pyc
DjangoProject/kcrm/__pycache__/settings.cpython-313.pyc
DjangoProject/kcrm/__pycache__/urls.cpython-313.pyc
DjangoProject/kcrm/__pycache__/wsgi.cpython-313.pyc
